body {
    font-family: 'Inter', sans-serif;
    background-color: #f1683a;
    margin: 0;
  }
  
  .container {
    width: 50%;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
  }
  
  input,
  select,
  textarea {
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    background-color: #f1683a;
    color: #fff;
    cursor: pointer;
  }
  